<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand mx-5" href="/tournamentDisplay"> Cricketer </a>
        <div class="d-flex justify-content-end">
            <form class="form-inline">
                <button class="btn btn-light rounded-0 my-5 mx-5 my-sm-0" type="submit"> <a
                        href="/dashboard/<%=tournamentName%>" class="text-decoration-none text-dark"> Dashboard </a>
                </button>
            </form>
            <form class="form-inline" action="/logout" method="post">
                <button class="btn btn-light rounded-0 my-5 mx-5 my-sm-0" type="submit"> Logout </button>
            </form>
        </div>
    </nav>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title display-1 text-center"> Score Update </div>
                        <div class="h3 mb-4 text-center"><%= tournamentName %></div>
                        <div class="h5 text-center"><%= listItems.team1 %> VS <%= listItems.team2 %></div>
                        <form action="/scoreUpdate" method="post" name="scoreForm" onsubmit="validate(event)">
                            <input type="hidden" name="tournamentName" value="<%=tournamentName%>">
                            <input type="hidden" name="match" value="<%=index%>">
                            <div class="form-group">
                                <label for="team1Score"><%= listItems.team1 %> Score</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="team1Score" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="wickets"><%= listItems.team1 %> Wickets</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="team1Wickets" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="team1Score"><%= listItems.team1 %> Overs</label>
                                <input type="text" name="team1Overs" class="form-control" id="exampleInputPassword1" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="team1Score"><%= listItems.team2 %> Score</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="team2Score" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="wickets"><%= listItems.team2 %> Wickets</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="team2Wickets" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="team1Score"><%= listItems.team2 %> Overs</label>
                                <input type="text" name="team2Overs" class="form-control" id="exampleInputPassword1" placeholder="">
                            </div>

                            <button type="submit" class="btn btn-dark w-100 rounded-0 p-2 my-3">Update Score</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
function validate(event) {
    let w1 = document.forms['scoreForm']['team1Wickets'].value
    let w2 = document.forms['scoreForm']['team2Wickets'].value
    if(w1>10 || w2>10) {
        alert('Wickets cannot be more than 10')
        event.preventDefault()
    }
}
</script>
</html>